
<div class="row">
  <div class="col-md-4" ng-controller="StatsCtrl">
    <div class="panel widget">
      <div class="panel-body bg-primary">
        <div class="h5 mt0">Monthly Points</div>
        <!-- Line chart-->
        <div sparkline="" data-type="line" data-height="80" data-width="100%" data-line-width="2" data-line-color="#dddddd" data-spot-color="#bbbbbb" data-fill-color="" data-highlight-line-color="#fff" data-spot-radius="3" data-resize="true">5,9,4,1,3,4,7,5</div>
      </div>
      <div class="panel-body bg-inverse">
        <div class="row text-center">
            <div class="col-xs-6">
              <!-- Bar chart-->
              <div sparkline="" data-bar-color="#5d9cec" data-height="30" data-bar-width="6" data-bar-spacing="6">
              1,2,3,4,5,6,7,8,9</canvas></div>
            </div>
            <div class="col-xs-6">
              <h4 class="m0">+150</h4>
              <p class="m0 text-muted">
                 <small>From last month</small>
              </p>
            </div>
        </div>
      </div>
    </div>
  </div>

  <div class="col-md-4" ng-controller="RankingCtrl">
    <div class="panel widget">
      <div class="half-float">
        <img src="http://lorempixel.com/1024/268" alt="" class="img-responsive">
        <div class="half-float-bottom">
           <img ng-src="{{leader.avatar_url}}" alt="Image" class="img-thumbnail img-circle thumb128">
        </div>
      </div>
      <div class="panel-body text-center">
        <h3 class="m0">{{leader.login}}</h3>
      </div>
      <div class="panel-body text-center bg-gray-dark">
        <div class="row row-table">
          <div class="col-xs-4">
            <h3 class="m0">{{leader.points}}</h3>
            <p class="m0">Points</p>
          </div>
          <div class="col-xs-4">
            <h3 class="m0">{{leaderStats.commits}}</h3>
            <p class="m0">Commits</p>
          </div>
          <div class="col-xs-4">
            <h3 class="m0">{{leaderStats.closed_pull_request}}</h3>
            <p class="m0">Closed pull request</p>
          </div>
        </div>
      </div>
      <div class="list-group">
        <a class="list-group-item" ng-repeat="user in rest">
          <span class="label label-primary pull-right">{{user.points}}</span>
          <em class="fa fa-fw fa-clock-o text-muted"></em>
          {{user.login}}
        </a>
      </div>
    </div>
  </div>

  <div class="col-md-4" ng-controller="LiveStreamCtrl">
    <div class="panel panel-primary" >
      <div class="panel-heading">Live stream</div>
      <div class="panel-body" style="max-height: 39em; overflow: auto">
        <ul class="media-list">
          <li class="media" ng-repeat="event in events">
            <a class="pull-left">
              <img class="media-object" alt="64x64" ng-src="{{event.data.sender.avatar_url}}" style="width: 32px; height: 32px;">
            </a>
            <div class="media-body">
              <span class="label label-info pull-right">{{event.created_at.fromNow()}}</span>
              <h4 class="media-heading">{{event.data.sender.login}}</h4>
              <div ng-include="event.type+'_event.html'">
            </div>
          </li>
        </ul>
      </div>
    </div>
  </div>
</div>

<script type="text/ng-template" id="push_event.html">
  <p><strong>pushed</strong> {{event.data.commits.length}} commits</p>
  <!-- Nested media object -->
  <div class="media" ng-repeat="commit in event.data.head_commits">
    <a class="pull-left">
      <img class="media-object" ng-src="" style="width: 32px; height: 32px;">
    </a>
    <div class="media-body">
      <span class="label label-info pull-right">{{commit.timestamp.fromNow()}}</span>
      <h4 class="media-heading">{{commit.committer.username}}</h4>
      <strong>committed</strong> {{commit.message.split("\n")[0]}}
    </div>
  </div>

  <p ng-show="event.data.more_commits.length > 0">
    <a ng-click="event.isCollapsed = !event.isCollapsed">
      <i class="glyphicon" ng-class="{'glyphicon-chevron-down': event.isCollapsed, 'glyphicon-chevron-right': !event.isCollapsed}"></i>
      {{event.data.more_commits.length}} more commits
    </a>
  </p>

  <div class="media" ng-repeat="commit in event.data.more_commits" ng-hide="event.isCollapsed">
    <a class="pull-left">
      <img class="media-object" ng-src="" style="width: 32px; height: 32px;">
    </a>
    <div class="media-body">
      <span class="label label-info pull-right">{{commit.timestamp.fromNow()}}</span>
      <h4 class="media-heading">{{commit.committer.username}}</h4>
      <strong>committed</strong> {{commit.message.split("\n")[0]}}
    </div>
  </div>
</script>

<script type="text/ng-template" id="issues_event.html">
  <p><strong>{{event.data.action}}</strong> the issue "{{event.data.issue.title}}" </p>
</script>

<script type="text/ng-template" id="pull_request_event.html">
  <p><strong>{{event.data.action}}</strong> the pull request "{{event.data.pull_request.title}}" </p>
</script>


<script type="text/ng-template" id="ping_event.html"></script>
