<div class="row">
  <div class="col-md-4" ng-controller="StatsCtrl">
    <div class="panel widget">
      <div class="panel-body bg-primary">
        <div class="h5 mt0">Monthly incomes</div>
        <!-- Line chart-->
        <div sparkline="" data-type="line" data-height="80" data-width="100%" data-line-width="2" data-line-color="#dddddd" data-spot-color="#bbbbbb" data-fill-color="" data-highlight-line-color="#fff" data-spot-radius="3" data-resize="true">5,9,4,1,3,4,7,5</div>
      </div>
      <div class="panel-body bg-inverse">
        <div class="row text-center">
            <div class="col-xs-6">
              <!-- Bar chart-->
              <div sparkline="" data-bar-color="#5d9cec" data-height="30" data-bar-width="6" data-bar-spacing="6">
              1,2,3,4,5,6,7,8,9</canvas></div>
            </div>
            <div class="col-xs-6">
              <h4 class="m0">+150</h4>
              <p class="m0 text-muted">
                 <small>From last month</small>
              </p>
            </div>
        </div>
      </div>

      <div class="panel-body">
        <div class="row row-table text-center">
          <div class="col-xs-6">
            <p class="m0 text-muted">Gross income</p>
            <h4 class="m0">12000</h4>
          </div>
          <div class="col-xs-6">
            <p class="m0 text-muted">Net income</p>
            <h4 class="m0">5100</h4>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="col-md-4" ng-controller="RankingCtrl">
    <div class="panel panel-default">
      <div class="panel-heading">Ranking</div>
      <div class="panel-body">
        Panel content
      </div>
    </div>
  </div>

  <div class="col-md-4" ng-controller="LiveStreamCtrl">
    <div class="panel panel-default">
      <div class="panel-heading">Live stream</div>
      <div class="panel-body">
        Panel content
      </div>
    </div>
  </div>
</div>
