
<div ng-controller="RankingCtrl">
  <div class="panel widget panel-primary">
    <div class="panel-heading">Ranking</div>
    <div class="panel-body">
      <table class="table table-striped">
      <tr ng-repeat="user in users">
        <td>
          <img ng-src="{{user.avatar_url}}" class="img-circle avatar"/>
        </td>

        <td>
          <div>
            <a>{{user.login}}</a>
            <span class="label label-primary">{{user.points}} pts</span>
          </div>
          {{fromNow(user.last_activity_at)}}
        </td>

        <td class="text-center">
          <b>commits</b>
          <br/>
          {{stats[user.login].commits}}
        </td>
        <td class="text-center">
          <b>closed issues</b>
          <br/>
          {{stats[user.login].closed_issues}}
        </td>
        <td class="text-center">
          <b>opened pull request</b>
          <br/>
          {{stats[user.login].opened_pull_requests}}
        </td>
        <td class="text-center">
          <b>badges</b>
          <br/>
          <img
            ng-repeat="achievement in user.achievements"
            title="getAchievementLabel(achievement)"
            ng-src="getAchievementIcon(achievement)">
          </span>
        </td>
      </tr>
    </div>
  </div>
</div>
