$icon-font-path: "../bower_components/bootstrap-sass-official/assets/fonts/bootstrap/";
// bower:scss
@import "bootstrap-sass-official/assets/stylesheets/_bootstrap.scss";
// endbower

body {
  background-color: #f5f7fa;
}

.main {
  margin-top: 60px;
}

.widget {
  margin-bottom: 20px;
  border: 0;
}

.widget.panel {
  overflow: hidden;
}

.bg-primary {
  background-color: #5d9cec;
  color: #fff!important;
}

.bg-inverse {
  background-color: #131e26;
  color: #fff!important;
}

.bg-gray-dark {
  background-color: #3a3f51;
  color: #fff!important;
}

.half-float {
  position: relative;
  margin-bottom: 65px;
}

.half-float .half-float-bottom, .half-float .half-float-top {
  position: absolute;
  left: 50%;
  bottom: -60px;
  width: 120px;
  height: 120px;
  margin-left: -60px;
  z-index: 2;
}

.mt0 {
  margin-top: 0!important;
}

.mb0 {
  margin-bottom: 0!important;
}

.list-group {
  line-height: 1.3;
  margin-bottom: 20px;
  padding-left: 0;
}

.list-group-item {
  border: none;
}

.footer {
  position: fixed;
  bottom: 1em;
  left: 1em;
}

.row-table {
  display: table;
  table-layout: fixed;
  height: 100%;
  width: 100%;
  margin: 0;
}

.row-table>[class*=col-] {
  display: table-cell;
  float: none;
  table-layout: fixed;
  vertical-align: middle;
}

.row-flush>[class*=col-] {
  padding: 0;
}

.stats-box {
  &.active  {
    background-color: lighten(#000, 96%);
  }
  &:hover {
    background-color: lighten(#000, 97%);
  }
}
